<h1>El restaurante "<%= @restaurant.name %>" ha sido creado</h1>

<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= @restaurant.name %></h2>
      <p>Address: <%= @restaurant.address %></p>
    </div>
    <% @restaurant.reviews.each do |review| %>
      <p>
    Review: <%= review.content %>
  </p>
  <% end -%>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>



<%= link_to 'Back', restaurants_path %>
<%= link_to 'Add a review', new_restaurant_review_path(@restaurant)  %>


